// Place all the styles related to the api/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-cart-items {
    position: absolute;
    right: 0;
    width: 300px;
}

.cart-container {
    background-color: white;
    height: 100vh;
    .close-x:hover {
        cursor: pointer;
    }
    .close-x {
        position: absolute;
        font-size: 1.5em;
        padding: 5px;
        padding-left: 9px;
        padding-right: 9px;
        right: 0;
        margin: 5px;
    }
    .cart-title {
        font-family: "ProbaPro-Bold";
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 1em;
        padding: 12px;
        padding-left: 16px;
        border-bottom: 1px solid grey;
    }
    .cart-items-index-list-container {
        overflow: auto;
        overflow-x: hidden;
        margin-left: 15px;
        max-height: 65%;
    }
    .cart-items-index-list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        li:first-child {
            border: none;
        }
        li {
            border-top: 1px solid grey;
        }
    }
}

.cart-items-index-item {
    width: 95%;
    margin-right: 5%;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: row;
    position: relative;
    #cart-item-remove-x:hover {
        cursor: pointer;
    }
    #cart-item-remove-x {
        position: absolute;
        right: 0;
        top: 0;
        margin: 10px;
    }
    img {
        margin-right: 12px;
    }
    .cart-item-price {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 10px;
        font-family: "ProbaPro-Bold";
        font-size: 0.9em;
    }
    .cart-item-details {
        display: flex;
        flex-direction: column;
        width: 80%;
        .cart-item-name {
            font-family: "ProbaPro-Bold";
            text-transform: uppercase;
            font-size: 0.8em;
        }
        .cart-item-size, .cart-item-quantity {
            font-size: 0.8em;
        }
        .cart-item-name, .cart-item-size {
            margin-right: 30px;
        }
        .cart-item-quantity{
            display: flex;
            flex-direction: row;
            align-items: center;
            svg {
                padding-left: 2px;
                padding-right: 2px;
            }
            svg:hover {
                cursor: pointer;
            }
        }
    }
}

.promo-code-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    border-top: 1px solid grey;
    div {
        display: flex;
        justify-content: space-between;
    }
    .promo-dropdown:hover {
        cursor: pointer;
    }
    .promo-dropdown {
        flex-direction: row;
        padding: 10px;
        padding-left: 0;
        padding-right: 0;
        margin-top: 6px;
        margin-bottom: 2px;
        font-family: "ProbaPro-Bold";
        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 0.08em;
    }
    .dropdown-menu {
        margin-top: 5px;
        margin-bottom: 10px;
        justify-content: space-between;
        * {
            flex: 1;
            width: 90%;
            padding: 3%;
        }
        input {
            margin-right: 2%;
        }
        button:hover {
            cursor: pointer;
            background-color: black;
            color: white;
        }
        button {
            margin-left: 2%;
            color: black;
            background-color: white;
            border: none;
            font-family: "ProbaPro-SemiBold";
            text-transform: uppercase;
            letter-spacing: 0.06em;
            font-size: 0.8em;
            border: 1px solid black;
        }
    }
    #promo-message-success, #promo-message-error, #promo-message-blank {
        margin-top: 0px;
        margin-bottom: 10px;
        div {
            display: inline-block;
        }
    }
    #promo-message-error {
        color: red;
    }
}

.cart-checkout {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    font-family: "ProbaPro-Bold";
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.08em;
    padding-top: 15px;
    border-top: 1px solid grey;
    .subtotal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    button {
        height: 40px;
        margin-top: 15px;
        background-color: black;
        border: none;
        color: white;
        font-family: "ProbaPro-SemiBold";
        text-transform: uppercase;
        letter-spacing: 0.08em;
        font-size: 0.9em;
        bottom: min(0);
    }
    button:hover {
        cursor: pointer;
        background-color: rgb(70, 68, 68);
    }
}
