
.checkout-page {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    .order-placed-message {
        font-family: 'ProbaPro-Medium';
        font-size: 3em;
        letter-spacing: 0.04em;
        margin-bottom: 40px;
    }
    div {
        font-size: 1.6em;
    }
    .social-links {
        display: flex;
        a {
            margin: 20px;
            margin-top: 30px;
        }
        svg {
            color: black;
        }
    }
}