
@font-face {
    font-family: 'ProbaPro-Bold';
    src: font-url('ProbaPro-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'ProbaPro-Light';
    src: font-url('ProbaPro-Light.otf') format('truetype');
}

@font-face {
    font-family: 'ProbaPro-Medium';
    src: font-url('ProbaPro-Medium.otf') format('truetype');
}

@font-face {
    font-family: 'ProbaPro-Regular';
    src: font-url('ProbaPro-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'ProbaPro-SemiBold';
    src: font-url('ProbaPro-SemiBold.otf') format('truetype');
}