
.footer {
    background-color: #F8F8F8;
    font-size: 1.1em;
    .contact-list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        letter-spacing: 0.05em;
        margin-bottom: 15px;
        div:hover {
            cursor: pointer;
            div {
                text-decoration: underline;
                text-decoration-thickness: .1em;
                text-underline-offset: .1em;
            }
        }
        div {
            display: flex;
            flex-direction: row;
            align-content: center;
            margin-top: 10px;
            margin-bottom: 6px;
            margin-left: 12px;
            margin-right: 12px;
            svg {
                size: 40px;
            }
        }

        .chat {
            svg {
                transform: scaleX(-1);
            }
        }
    }

    .sub-contact-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        margin-bottom: 30px;
        padding-top: 10px;
        border-top: solid 1px black;
        max-width: 1280px;
        width: 100%;
        letter-spacing: 0.02em;
        * {
            flex: 1;
        }
        ul:hover {
            cursor: default;
        }
        ul {
            font-family: 'ProbaPro-SemiBold';
            li:first-child { margin-top: 15px; }
            li {
                font-family: 'ProbaPro-Regular';
                list-style-type: none;
                margin-top: 8px;
                margin-bottom: 8px;
                a { color: black; }
                a:link { text-decoration: none; }
                a:visited { text-decoration: none; }
                a:hover { text-decoration: underline; }
                a:active { text-decoration: underline; }
                a:hover {
                    text-decoration-thickness: .1em;
                    text-underline-offset: .1em;
                }
            } 
        }

        .subscribe-email {
            margin-left: 20px;
            margin-right: 20px;
            flex: 1.5;
            .subscribe-phrase {
                font-family: 'ProbaPro-SemiBold';
                text-transform: uppercase;
                font-size: 1.1em;
                letter-spacing: 0.04em;
                margin-top: 18px;
                margin-bottom: 20px;
            }
            .subscribe-gender {
                margin-bottom: 20px;
                input[name="gender"]{
                    accent-color: black;
                }
                label {
                    margin: 4px;
                }
            }
            .subscribe-email-form {
                border-bottom: 1px solid black;
                margin-bottom: 40px;
                input {
                    letter-spacing: .05em;
                    border-style: none;
                    background-color: #F8F8F8;
                }
                input:focus, textarea:focus, select:focus{
                    outline: none;
                }
                svg {
                    float: right;
                }
                svg:hover {
                    cursor: pointer;
                }
            }
            .social-links {
                display: block;
                a {
                    margin: 15px;
                    margin-top: 50px;
                }
                a:last-child {
                    margin-left: 8px;
                }
                svg {
                    color: black;
                }
            }
        }
    }

    .legal-stuff-container {
        max-width: 1280px;
        width: 100%;
        margin: auto;
    }

    .legal-stuff {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        font-size: 12px;
        text-transform: uppercase;
        border-top: 1px solid black;
        li {
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 15px;
            margin-top: 12px;
            letter-spacing: 0.04em;
            border-left: 1px solid black;
            text-decoration: underline;
            text-decoration-thickness: .08em;
            text-underline-offset: .1em;
        }
        li:hover {
            cursor: pointer;
        }
        li:first-child {
            border: none;
        }
    }
}