.product-show-container {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    margin: auto;
    .product-show-category {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        * {
            margin-right: 10px;
            text-transform: capitalize;
        }
        svg {
            color: grey;
        }
    }
    .product-show-item {
        display: flex;
        flex-direction: row;
        width: 100%;
        .product-show-item-images {
            display: flex;
            flex: 2;
            flex-wrap: wrap;
            justify-content: space-between;
            img {
                width: 49%;
                margin-bottom: 2%;
            }
            .reversed-image {
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
            }
        }
        .product-show-item-details {
            flex: 1;
            max-width: 600px;
        }
    }
}

.product-show-item-details {
    margin-left: 20px;
}