// Place all the styles related to the api/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-index-title {
    display: flex;
    justify-content: center;
    font-family: "ProbaPro-Bold";
    font-size: 2.4em;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-index-container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.product-index {
    margin-left: 18px;
    margin-right: 18px;
    display: flex;
    flex-direction: row;
    .refinement-bar-container {
        flex: 1;
        align-items: flex-start;
    }
    .product-index-list-container {
        flex: 3;
        .product-index-count {
            display: flex;
            justify-content: right;
        }
    }
}

.refinement-bar {
    position: sticky;
    top: 12vh;
    border: 1px solid black;
    margin-right: 18px;
    margin-bottom: 18px;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-left: 5%;
        font-family: "ProbaPro-SemiBold";
        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 0.08em;
        li {
            margin-left: 5%;
            text-transform: capitalize;
            font-family: "ProbaPro-Regular";
        }
        li:hover {
            cursor: pointer;
        }
    }
}

.product-index-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-index-item {
    max-width: 32%;
    margin-bottom: 2%;
    img {
        max-width: 100%;
    }
    .product-index-item-menu{
        position: relative;
        button {
            height: 30px;
            margin-top: 2px;
            position: absolute;
            width: 100%;
            background-color: white;
            border: none;
            font-family: "ProbaPro-SemiBold";
            text-transform: uppercase;
            letter-spacing: 0.06em;
            font-size: 0.8em;
            border: 1px solid black;
        }
        button:hover {
            cursor: pointer;
            background-color: rgb(47, 46, 46);
            color: white;
        }
    }
    .hidden-image {
        display: none;
    }
}