// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// .review-form-section {
//     text-transform: uppercase;
// }

// .review-form-subsection {
//     text-transform: lowercase;
// }

.review-form-error-list {
    color: red;
}

.review-form {
    input[type="radio"][name="rating"] {
        opacity: 0;
        position: fixed;
        width: 0;
    }
    .star {
        font-size: 30px;
        color: black;
        &:hover {
            cursor: pointer;
        };
    }
    .review-form-error-title {
        color: red;
    }

    .review-form-error-box {
        border: 1px solid red;
    }
}

.product-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    .product-reviews-title {
        font-family: 'ProbaPro-Bold';
    }
}
