.modal-session {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-signup-form-container {
    background-color: white;
    width: 376px;
    height: 616px;
    .login-signup-form {
        display: flex;
        align-items: center;
        flex-direction: column;
        .form-title {
            margin-top: 30px;
            font-family: 'ProbaPro-Bold';
            text-transform: uppercase;
            font-size: 1.2em;
            letter-spacing: 0.1em;
            margin-bottom: 5px;
        }
        .form-subtitle {
            font-size: 0.9em;
        }
        .session-errors {
            color: red;
        }
        #session-form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            label {
                padding: 8px;
                margin: 6px;
                width: 75%;
                border: 1px solid black;
            }
            #first-last-name-field {
                display: flex;
                flex-direction: row;
                width: 83%;
            }
            input[type="text"], input[type="password"] {
                font-size: 0.8em;
                letter-spacing: 0.02em;
            }
            label input {
                border: 0;
                outline: 0;
                width: 95%;
            }
            label input:focus {
                outline: 0;
            }
            .sign-in-options {
                width: 80%;
                margin-top: 5px;
                margin-bottom: 15px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                letter-spacing: 0.02em;
                font-size: 0.9em;
                input[type="checkbox"] {
                    accent-color: black;
                    width: 18px;
                    height: 18px;
                    margin-right: 8px;
                }
                div:last-child {
                    margin-top: 5px;
                    text-decoration: underline;
                    text-decoration-thickness: 0.1em;
                    text-underline-offset: 0.1em;
                }
                div:last-child:hover {
                    cursor: pointer;
                }
            }
        }
        #session-submit-button:hover, #session-demo-button:hover, #signup-submit-button:hover {
            cursor: pointer;
        }
        #session-submit-button, #session-demo-button, #signup-submit-button {
            width: 80%;
            height: 40px;
            margin-bottom: 15px;
            background-color: black;
            border: none;
            color: white;
            font-family: "ProbaPro-SemiBold";
            text-transform: uppercase;
            letter-spacing: 0.08em;
            font-size: 0.8em;
        }
        #signup-submit-button {
            margin-top: 6px;
        }
        #signup-legal-stuff {
            width: 80%;
            text-align: center;
            font-size: 0.9em;
            div {
                display: inline-block;
                text-decoration: underline;
                text-decoration-thickness: 0.1em;
                text-underline-offset: 0.1em;
            }
            div:hover {
                cursor: pointer;
            }
        }
        .other-form-container {
            width: 85%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 20px;
            font-family: "ProbaPro-Bold";
            text-transform: uppercase;
            font-size: 0.85em;
            letter-spacing: 0.08em;
            border-top: 1px solid black;
            button {
                background: none;
                font-size: 1em;
                border: none;
                text-decoration: underline;
                text-decoration-thickness: 0.1em;
                text-underline-offset: 0.1em;
            }
            button:hover {
                cursor: pointer;
            }
        }
    }

    .close-x:hover {
        cursor: pointer;
    }
    .close-x {
        position: absolute;
        font-size: 1.5em;
        float: right;
        padding: 5px;
        padding-left: 9px;
        padding-right: 9px;
        right: 0;
        margin: 15px;
    }
}